<section class="footer">
<div class="row">
<div class="col-md-4 darker">
<div class="col-md-12">
<h4>General info</h4>
<hr>
</div>
<h5>Address line 1</h5>
<h5>Address line 2</h5>
<h5>Address line 3</h5>


</div>
<div class="col-md-4">
<div class="col-md-12">
<h4>Social</h4>
<hr>
</div>
<h5>facebook</h5>
<h5>twitter</h5>
<h5>youtube</h5>

</div>
<div class="col-md-4 dark">
<div class="col-md-12">
<h4></h4>
<hr>
</div>
</div>
</section>
