


<div class="row" style="padding-top:20%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h>Welcome to starset electronics</h>
<p><%= link_to 'Our blog', articles_path, class:'btn btn-lg btn-danger' %>
</div> 
<div class="col"></div>
</div>
</p>
