


<div class="row" style="padding-top:6%;">
<div class="col"></div>
<div class="col-md-8 text-center">
<div class="jumbotron">
<%= image_tag 'biz.jpg', style:"width:100%" %>

<h1>Welcome to New Best electronics</h1>
<p><%= link_to 'Read our blog', articles_path, class:'btn btn-lg btn-welcome' %>
</div>
</div> 
<div class="col"></div>
</div>
</p>
