


<div class="row" style="padding-top:20%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1>Welcome to starset electronics</h1>
<p><%= link_to 'Read our blog', articles_path, class:'btn btn-lg btn-welcome' %>
</div> 
<div class="col"></div>
</div>
</p>
