/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "welcome";
 @import "navbar";
 @import "footer";


 .container{
     padding-top: 15px;
 } 
 .form-control{
     background-color:lightgray;
     border:2px solid #eeccdd
 }

 thead{
     background-color: #222222;;
     color: #ffffff;
 }
 body {
    min-height: 50rem;
    padding-top: 4.5rem;
    background-color: lightblue;

  }
  .form-control{
      background-color: #efeeef;
      border:3px solid skyblue;
  }
  .btn-light{
    background-color: #efeeef;
    border:3px solid skyblue;
  }
  .jumbotron{
      background-color: #ffffff; 

  }