.navbar{

    background-color: skyblue !important;
}
.nav-link{

}
.nav-item a{
    font-weight: bold;
    color: #f3c;

}

.nav-item a:hover{
    font-weight: bold;
    color: #ffffff;

}
.navbar-toggler{
    border: 2px solid #ffffff !important;

}